{{> header}}
<div id="notfound" class="section-container">
  <h2>
    {{t "pages.404"}} | {{t "pages.link_not_found"}}
  </h2>
  <a class="back-to-home" href="/">
    {{t "pages.back_to_homepage"}}
  </a>
</div>
{{> footer}}