{{> header}}
<section id="banned" class="section-container">
  <h2>
    {{t "pages.banned_title"}}
  </h2>
  <h4>
    {{t "pages.banned_report", domain=default_domain}}
  </h4>
</section>
{{> footer}}