{{> header}}
<div id="error-page" class="section-container">
  <h2>
    {{t "pages.error"}}!
  </h2>
  <p>{{message}}</p>
  <a class="back-to-home" href="/">
    {{t "pages.back_to_homepage"}}
  </a>
</div>
{{> footer}}