{{> header}}
<section id="protected" class="section-container">
  <h2>
    {{t "pages.protected_link"}}
  </h2>
  <p>
    {{t "pages.enter_password"}}
  </p>
  {{> protected/form}}
</section>
{{> footer}}