{{> header}}
<section id="report" class="section-container">
  <h2>
    {{t "pages.report_abuse"}}.
  </h2>
  <p>
    {{t "pages.report_text"}}
  </p>
  {{> report/email}}
  {{#if mail_enabled}}
    {{> report/form}}
  {{/if}}
</section>
{{> footer}}