{{> header}}
<section id="reset-password" class="section-container">
  <h2>
    {{t "pages.reset_password_title"}}
  </h2>
  <p>
    {{t "pages.reset_password_forgot"}}
  </p>
  {{> reset_password/request_form}}
</section>
{{> footer}}
