{{#unless users}}
  {{#ifEquals users.length 0}}
    <tr class="no-data">
      <td>
        {{t "admin.no_users"}}
      </td>
    </tr>
  {{else}}
    <tr class="loading-placeholder">
      <td>
        {{> icons/spinner}}
        {{t "admin.loading_users"}}
      </td>
    </tr>
  {{/ifEquals}}
{{/unless}}
