<div class="content">
  <div class="icon success">
    {{> icons/check}}
  </div>
  <p>
    {{t "admin.domain_banned"}}
  </p>
  <div class="buttons">
    <button type="button" hx-on:click="closeDialog()">{{t "common.close"}}</button>
  </div>
</div>
