{{#unless links}}
  {{#ifEquals links.length 0}}
    <tr class="no-data">
      <td>
        {{t "admin.no_links"}}
      </td>
    </tr>
  {{else}}
    <tr class="loading-placeholder">
      <td>
        {{> icons/spinner}}
        {{t "admin.loading_links"}}
      </td>
    </tr>
  {{/ifEquals}}
{{/unless}}
